.search_and_button {
  width: 20%;
  height: 3%;
  background-color: #000e1b;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.search {
  width: 45%;
  height: 60%;
  border-radius: 30px;
  background-color: white;
  border: none;
}

.search::placeholder {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.search_image {
  width: 28px;
  height: 28px;
  background-image: url("../../images/icons8-search-50.png");
  background-size: cover;
}
